BODY {
	BACKGROUND: #eeeeee
}
TABLE {
  BACKGROUND: #ffffff;
  MARGIN-LEFT: 4em;
  MARGIN-RIGHT: 4em;
  MARGIN-TOP: 3em;  
  MARGIN-BOTTOM: 3em;  
}
P {
	FONT-SIZE: 10pt; 
  FONT-FAMILY: verdana,arial,geneva,helvetica;
  MARGIN-LEFT: 3em;
  MARGIN-RIGHT: 3em;
  MARGIN-BOTTOM: 1.5em;
}
P.head {
	FONT-SIZE: 14pt; COLOR: #ffffff; FONT-FAMILY: verdana,arial,geneva,helvetica
}
P.head1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #005000; FONT-FAMILY: verdana,arial,geneva,helvetica
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial,geneva,helvetica
}
LI {
margin-bottom: 8px;
}
OL {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial,geneva,helvetica
}
A:link {
	COLOR: #7b91f2
}
A:visited {
	COLOR: #5362a3
}
.indent {
  MARGIN-LEFT: 2em; 
  MARGIN-RIGHT: 2em; 
  LINE-HEIGHT: 120%
}
